.product-page{
    width: 100%;
}


.product-page >.products{
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-page .no-data{
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .product-page >.products{
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;

    }
}
