.change-password-page {

}

.change-password-page .header{
    margin-top: 15px;
}

.change-password-page .header .title {
    font-size: 18px;
    font-weight: 500;
    color: #777777;
}

.change-password-page .header .description {
    color: #979797;
    border-bottom: 1px solid #eeeeee;
    margin: 0px 100px;
    padding-bottom: 5px;
}

.change-password-page .body{
    width: 450px;
    margin: 0px auto;
    margin-top: 20px;
}

.change-password-page .body .btn-submit{
    border: solid 1px transparent;
    background-color: #0084ff;
    color: #ffffff;
    border-radius: 30px;
    padding: 5px 30px 3px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.change-password-page .body .btn-submit:hover {
    background-color: #006dd3;
    cursor: pointer;
    padding: 5px 40px 3px;
}

@media only screen and (max-width: 768px) {
    .change-password-page .body{
        min-width: 320px;
        max-width: 300px;
        margin: 0px auto;
        margin-top: 20px;
    }

    .change-password-page  .body  {
        width: 60%;
        min-width: 480px;
        margin: 0px auto;
        margin-top: 20px;
    }

    .change-password-page .header .description {
        margin: 0px 40px;
    }
}



@media only screen and (max-width: 480px) {
    .change-password-page .header .description {
        font-size: 14px;
        margin: 0px 0px;
    }

    .change-password-page  .body  {
        width: 100%;
        min-width: 100%;
    }
}
