.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main-edit-cart {
  position: fixed;
  background: white;
  width: 27%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.dialog-main {
  position: fixed;
  background: white;
  width: 25%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  height: 160px;
}

.confirm .card-body {
  height: 200px;
}

.btn-dialog {
  font-size: 12px;
}